{% extends "base.html" %}
{% block title %}Formulario de Cita{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Registrar / Editar Cita para {{ paciente.nombre }} {{ paciente.apellido_paterno }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'lista_citas' paciente.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
